storage: none
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FsCheck
nuget FsCheck.Xunit
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector